.ui.active.modal {
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
.backshadow {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}